$button-height: 32px;
$font-size: 14px;
// button
$button-intent-color: white;
$button-intent-disabled-color: hsla(0,0%,100%,.6);
$button-bg: #f5f8fa;
$button-active-bg: #d8e1e8;
$button-hover-bg: #ebf1f5;
$button-primary-bg: #137cbd;
$button-primary-disabled-bg: rgba(19,124,189,.5);
$button-primary-active-bg: #0e5a8a;
$button-primary-hover-bg: #106ba3;
$button-intent-primary-active-bg: rgba(19,124,189,.3);
$button-intent-primary-hover-bg: rgba(19,124,189,.15);

$button-success-active-bg: #0a6640;
$button-success-bg: #0f9960;
$button-success-hover-bg: #0d8050;
$button-intent-success-hover-bg: rgba(19,124,189,.15);
$button-intent-success-active-bg: rgba(19,124,189,.3);

$button-warn-active-bg: #a66321;
$button-warn-hover-bg: #bf7326;
$button-intent-warn-active-bg: rgba(217,130,43,.3);
$button-intent-warn-hover-bg: rgba(217,130,43,.15);
$button-warn-bg: #080706;

$button-danger-active-bg: #a82a2a;
$button-danger-hover-bg: #c23030;
$button-intent-danger-active-bg: rgba(219,55,55,.3);
$button-intent-danger-hover-bg: rgba(219,55,55,.15);
$button-danger-bg: #db3737;

$border-radius: 4px;
$border-circle-radius: 50%;
$color: #333;
$border-color: rgba(16,22,26,.2);
$border-color-hover: #666;
$border-color-light: lighten($border-color, 30%);
.box-shadow {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

// tabs
$active-color: #106ba3;
$disabled-color: rgba(92,112,128,.6);
$bg-selected: rgba(19,124,189,.2);

// cascader
$menu-hover-color: rgba(167,182,194,.3);
$menu-active-color: #137cbd;

$grey: #999;

// table
$table-header-color: #F5F8FA;

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}
@mixin spin{
  animation: spin 1s infinite linear;
}

@keyframes rotate90 {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(90deg);
  }
}
@keyframes anti-rotate90 {
  0% {
    transform: rotateZ(90deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}


// 向上划出动画
.fade-up-enter-active,
.fade-up-leave-active {
  transition: transform 0.5s;
}
.fade-up-enter,
.fade-up-leave-to {
  transform: translateY(100%);
}


// 淡入，淡出
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// 正，反旋转90deg动画
.antiRotate90-enter{
  transform: rotateZ(90deg);
}
.rotate90-enter{
  transform: rotateZ(-90deg);
}
.antiRotate90-enter-active,
.rotate90-enter-active{
  transition: transform 0.3s;
}

// 高度由0到额定高度的动画
.expandHeight-leave-active,
.expandHeight-enter-active{
   transition: height 0.3s;
}

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
