$button-height: 32px;
$font-size: 14px;
// button
$button-intent-color: white;
$button-intent-disabled-color: hsla(0,0%,100%,.6);
$button-bg: rgb(221, 221, 221);
$button-active-bg: #d8e1e8;
$button-hover-bg: #ebf1f5;
$button-primary-active-bg: #0e5a8a;
$button-primary-bg: #137cbd;
$button-primary-hover-bg: #106ba3;
$button-primary-disabled-bg: rgba(19,124,189,.5);
$button-success-active-bg: #0a6640;
$button-success-bg: #0f9960;
$button-success-hover-bg: #0d8050;
$button-warn-active-bg: #a66321;
$button-warn-hover-bg: #bf7326;
$button-warn-bg: #d9822b;
$button-danger-active-bg: #a82a2a;
$button-danger-hover-bg: #c23030;
$button-danger-bg: #db3737;
$border-radius: 4px;
$border-circle-radius: 50%;
$color: #333;
$border-color: #999;
$border-color-hover: #666;
$border-color-light: lighten($border-color, 30%);
.box-shadow {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

$grey: #999;
@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}
@mixin spin{
  animation: spin 1s infinite linear;
}